<footer class="border-top footer text-muted" style="background-color:darkgrey">
    <div class="container">
        &copy; 2020 - Gadgets - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>